.mainFrame { 
	overflow:hidden;
}
.mainFrame { 
	background-color:rgba(19.67136014252901, 19.67136014252901, 19.67136014252901, 1);
	width:1366px;
	height:768px;
	position:absolute;
}
.fire { 
	width:105px;
	height:282px;
	position:absolute;
	left:1187px;
	top:158px;
}
.fire-box { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:105px;
	height:355px;
	position:absolute;
	left:0px;
	top:-18px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.fire-frame { 
	border:2px solid rgba(184.00000423192978, 35.00000171363354, 35.00000171363354, 1);
}
.fire-frame { 
	width:80px;
	height:72px;
	position:absolute;
	left:13px;
	top:57px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.fire-data { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:38px;
	position:absolute;
	left:25px;
	top:172px;
	font-family:Jura;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.fire-icon { 
	width:74px;
	height:72px;
	position:absolute;
	left:16px;
	top:57px;
	background-image:url(images/fire_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_62 { 
	width:110px;
	height:280px;
	position:absolute;
	left:1073px;
	top:160px;
}
.e39_31 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:105px;
	height:355px;
	position:absolute;
	left:3px;
	top:-20px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e39_34 { 
	border:2px solid rgba(212.00000256299973, 89.00000229477882, 0, 1);
}
.e39_34 { 
	width:80px;
	height:72px;
	position:absolute;
	left:16px;
	top:55px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e38_29 { 
	width:63px;
	height:63px;
	position:absolute;
	left:24px;
	top:60px;
	background-image:url(images/combustivel_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.density-data { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:76px;
	position:absolute;
	left:9px;
	top:140px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.temperature { 
	width:218px;
	height:88px;
	position:absolute;
	left:1074px;
	top:35px;
}
.temperature-box { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:219px;
	height:88px;
	position:absolute;
	left:-1px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.temperature-data { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:38px;
	position:absolute;
	left:87px;
	top:21px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.temperature-icon { 
	width:52px;
	height:58px;
	position:absolute;
	left:19px;
	top:15px;
	background-image:url(images/temperatura_alta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}


.cube-content { 
	width:425px;
	height:440px;
	position:absolute;
	left:28px;
	top:237px;
}

.ldr-chart { 
	width:400px;
	height:219px;
	position:absolute;
	left:139px;
	top:514px;
}
.ldr-chart-data { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.metanGas-chart{ 
	width:399px;
	height:219px;
	position:absolute;
	left:140px;
	top:275px;
}
.metanGas-chart-data { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:-1px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.humidity-chart { 
	width:399px;
	height:219px;
	position:absolute;
	left:140px;
	top:36px;
}
.humidity-chart-data { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:-1px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ldr { 
	width:100px;
	height:219px;
	position:absolute;
	left:22px;
	top:514px;
}
.ldr-frame { 
	border:2px solid rgba(255, 249.00000035762787, 44.000001177191734, 1);
}


.ldr-frame { 
	width:80px;
	height:72px;
	position:absolute;
	left:10px;
	top:9px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.ldr-box { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ldr-image { 
	width:72px;
	height:80px;
	position:absolute;
	left:14px;
	top:-1px;
	background-image:url(images/luminosidade_2.png);
	background-repeat:no-repeat;
	background-size:cover;
	
}



.ldr-data { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:59px;
	position:absolute;
	left:15px;
	top:109px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.metanGas { 
	width:99px;
	height:220px;
	position:absolute;
	left:23px;
	top:274px;
}
.metanGas-box { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:-1px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.metanGas-frame { 
	border:2px solid rgba(0, 0, 0, 1);
}
.metanGas-frame { 
	width:80px;
	height:72px;
	position:absolute;
	left:9px;
	top:10px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.metanGas-image { 
	width:73px;
	height:67px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/ch4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.metanGas-data { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:59px;
	position:absolute;
	left:14px;
	top:111px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.humidity{ 
	width:99px;
	height:220px;
	position:absolute;
	left:23px;
	top:35px;
}
.humidity-box { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:-1px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.humidity-icon { 
	width:70px;
	height:74.66666412353516px;
	position:absolute;
	left:14px;
	top:12px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	background-image:url(images/gota_de_agua_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.humdity-frame { 
	border:2px solid rgba(55.00000052154064, 193.00000369548798, 254.00000005960464, 1);
}
.humdity-frame { 
	width:80px;
	height:81px;
	position:absolute;
	left:9px;
	top:10px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.humidity-data{ 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:59px;
	position:absolute;
	left:14px;
	top:120px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e39_51 { 
	width:219px;
	height:210px;
	position:absolute;
	left:1073px;
	top:514px;
	background-image:url(images/scania_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}







.e49_16 { 
	width:480px;
	height:696px;
	position:absolute;
	left:567px;
	top:37px;
}
.e49_19 { 
	width:480px;
	height:219px;
	position:absolute;
	left:1px;
	top:477px;
}
.e49_4 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:481px;
	height:219px;
	position:absolute;
	left:-1px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.radians-x { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:47px;
	position:absolute;
	left:327px;
	top:9px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.radians-y { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:47px;
	position:absolute;
	left:327px;
	top:81px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.radians-z { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:47px;
	position:absolute;
	left:327px;
	top:153px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.gyro-x { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:47px;
	position:absolute;
	left:202px;
	top:9px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.gyro-y { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:47px;
	position:absolute;
	left:202px;
	top:81px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.gyro-z { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:47px;
	position:absolute;
	left:202px;
	top:153px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e49_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(154.0625050663948, 148.41356098651886, 97.57291987538338, 1);
	width:36px;
	height:47px;
	position:absolute;
	left:109px;
	top:9px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e49_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(154.0625050663948, 148.41356098651886, 97.57291987538338, 1);
	width:33px;
	height:47px;
	position:absolute;
	left:109px;
	top:81px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e49_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(154.0625050663948, 148.41356098651886, 97.57291987538338, 1);
	width:39px;
	height:47px;
	position:absolute;
	left:109px;
	top:153px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e49_17 { 
	width:482px;
	height:458px;
	position:absolute;
	left:-1px;
	top:-1px;
}
.e49_3 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:481px;
	height:458px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blink {
    animation: blink 1s steps(5, start) 2; /* Blinks twice in one second */
  }