.e8_25 { 
	overflow:hidden;
}
.e8_25 { 
	background-color:rgba(19.67136014252901, 19.67136014252901, 19.67136014252901, 1);
	width:1366px;
	height:768px;
	position:absolute;
}
.e59_30 { 
	width:100px;
	height:219px;
	position:absolute;
	left:155px;
	top:60px;
}
.e59_31 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_32 { 
	width:72px;
	height:80px;
	position:absolute;
	left:14px;
	top:-1px;
	background-image:url(images/luminosidade_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_33 { 
	border:2px solid rgba(255, 249.00000035762787, 44.000001177191734, 1);
}
.e59_33 { 
	width:80px;
	height:72px;
	position:absolute;
	left:10px;
	top:9px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_34 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:47px;
	position:absolute;
	left:15px;
	top:109px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_57 { 
	width:400px;
	height:219px;
	position:absolute;
	left:272px;
	top:60px;
}
.e38_23 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_149 { 
	width:100px;
	height:219px;
	position:absolute;
	left:694px;
	top:59px;
}
.e59_150 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_152 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e59_152 { 
	width:80px;
	height:72px;
	position:absolute;
	left:10px;
	top:9px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_153 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:47px;
	position:absolute;
	left:15px;
	top:109px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_165 { 
	width:71px;
	height:68px;
	position:absolute;
	left:15px;
	top:11px;
	background-image:url(images/ch4_1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_147 { 
	width:400px;
	height:219px;
	position:absolute;
	left:811px;
	top:59px;
}
.e59_148 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_166 { 
	width:515px;
	height:103px;
	position:absolute;
	left:157px;
	top:306px;
}
.e59_78 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:105px;
	position:absolute;
	left:-2px;
	top:-2px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_200 { 
	width:80px;
	height:73px;
	position:absolute;
	left:8px;
	top:13px;
}
.e59_79 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_79 { 
	width:80px;
	height:72px;
	position:absolute;
	left:0px;
	top:1px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_132 { 
	width:59px;
	height:59px;
	position:absolute;
	left:13px;
	top:8px;
	background-image:url(images/conjunto_vazio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_201 { 
	width:80px;
	height:73px;
	position:absolute;
	left:149px;
	top:13px;
}
.e59_81 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_81 { 
	width:80px;
	height:72px;
	position:absolute;
	left:0px;
	top:1px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_133 { 
	width:69px;
	height:66px;
	position:absolute;
	left:6px;
	top:4px;
	background-image:url(images/bebida_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_203 { 
	width:80px;
	height:72px;
	position:absolute;
	left:287px;
	top:14px;
}
.e59_82 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_82 { 
	width:80px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:9px;
}
.e59_134 { 
	width:61px;
	height:61px;
	position:absolute;
	left:10px;
	top:6px;
	background-image:url(images/combustivel_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_204 { 
	width:80px;
	height:73px;
	position:absolute;
	left:425px;
	top:13px;
}
.e59_80 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_80 { 
	width:80px;
	height:72px;
	position:absolute;
	left:0px;
	top:1px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_136 { 
	width:64px;
	height:64px;
	position:absolute;
	left:8px;
	top:5px;
	background-image:url(images/diesel__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_89 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:280px;
	position:absolute;
	left:155px;
	top:430px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.espectroscopy-retangule { 
	width:516px;
	height:278px;
	position:absolute;
	left:156px;
	top:432px;
}




.e59_179 { 
	width:84px;
	height:47px;
	position:absolute;
	left:9px;
	top:47px;
}
.non-fluid { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_91 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:47px;
}
.e59_91 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_180 { 
	width:84px;
	height:47px;
	position:absolute;
	left:9px;
	top:181px;
}
.non-fluid-max-data { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_92 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:47px;
}
.e59_92 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_181 { 
	width:84px;
	height:47px;
	position:absolute;
	left:150px;
	top:47px;
}
.h2o-fluid { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_129 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:47px;
}
.e59_129 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_182 { 
	width:85px;
	height:47px;
	position:absolute;
	left:149px;
	top:181px;
}
.h2o-fluid-max-data { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_130 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:1px;
	top:47px;
}
.e59_130 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_183 { 
	width:84px;
	height:48px;
	position:absolute;
	left:288px;
	top:46px;
}
.diesel-fluid { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_122 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:48px;
}
.e59_122 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_185 { 
	width:84px;
	height:47px;
	position:absolute;
	left:288px;
	top:181px;
}
.diesel-fluid-max-data { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_123 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:47px;
}
.e59_123 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_186 { 
	width:84px;
	height:47px;
	position:absolute;
	left:426px;
	top:47px;
}
.oil-fluid { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_115 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:47px;
}
.e59_115 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_187 { 
	width:84px;
	height:48px;
	position:absolute;
	left:426px;
	top:180px;
}
.oil-fluid-max-data { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_116 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:0px;
	top:48px;
}
.e59_116 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_189 { 
	width:71px;
	height:27px;
	position:absolute;
	left:16px;
	top:23px;
}
.non-fluid-actual { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:71px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_190 { 
	width:71px;
	height:27px;
	position:absolute;
	left:157px;
	top:23px;
}
.h2o-fluid-actual { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:71px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_191 { 
	width:71px;
	height:27px;
	position:absolute;
	left:295px;
	top:23px;
}
.diesel-fluid-actual { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:71px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_192 { 
	width:71px;
	height:28px;
	position:absolute;
	left:433px;
	top:22px;
}
.oil-fluid-actual { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:71px;
	height:27px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_195 { 
	width:45px;
	height:25px;
	position:absolute;
	left:28px;
	top:228px;
}
.non-fluid-max { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:0px;
	top:-3px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_197 { 
	width:46px;
	height:23px;
	position:absolute;
	left:169px;
	top:230px;
}
.h2o-fluid-max { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:0px;
	top:-5px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_198 { 
	width:46px;
	height:24px;
	position:absolute;
	left:307px;
	top:229px;
}
.diesel-fluid-max { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:0px;
	top:-4px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_199 { 
	width:46px;
	height:23px;
	position:absolute;
	left:445px;
	top:230px;
}
.oil-fluid-max { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:0px;
	top:-5px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e60_205 { 
	width:516px;
	height:404px;
	position:absolute;
	left:695px;
	top:306px;
}
.e59_14 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:404px;
	position:absolute;
	left:-1px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
