.e8_25 { 
	overflow:hidden;
}
.e8_25 { 
	background-color:rgba(19.67136014252901, 19.67136014252901, 19.67136014252901, 1);
	width:1366px;
	height:768px;
	position:absolute;
}
.e59_30 { 
	width:100px;
	height:219px;
	position:absolute;
	left:155px;
	top:60px;
}
.e59_31 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ldr-reading-image { 
	width:72px;
	height:80px;
	position:absolute;
	left:14px;
	top:-1px;
	background-image:url(images/luminosidade_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_33 { 
	border:2px solid rgba(255, 249.00000035762787, 44.000001177191734, 1);
}
.e59_33 { 
	width:80px;
	height:72px;
	position:absolute;
	left:10px;
	top:9px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.ldr-data { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:47px;
	position:absolute;
	left:15px;
	top:109px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_57 { 
	width:400px;
	height:219px;
	position:absolute;
	left:272px;
	top:60px;
}
.ldr-graphic-data { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_149 { 
	width:100px;
	height:219px;
	position:absolute;
	left:694px;
	top:59px;
}
.e59_150 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:100px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_152 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e59_152 { 
	width:80px;
	height:72px;
	position:absolute;
	left:10px;
	top:9px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.metangas-data { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:47px;
	position:absolute;
	left:15px;
	top:109px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_165 { 
	width:71px;
	height:68px;
	position:absolute;
	left:15px;
	top:11px;
	background-image:url(images/ch4_1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_147 { 
	width:400px;
	height:219px;
	position:absolute;
	left:811px;
	top:59px;
}
.e59_148 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:400px;
	height:220px;
	position:absolute;
	left:0px;
	top:-1px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_166 { 
	width:515px;
	height:103px;
	position:absolute;
	left:157px;
	top:306px;
}
.e59_78 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:105px;
	position:absolute;
	left:-2px;
	top:-2px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e59_79 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_79 { 
	width:80px;
	height:72px;
	position:absolute;
	left:8px;
	top:14px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_132 { 
	width:59px;
	height:59px;
	position:absolute;
	left:21px;
	top:21px;
	background-image:url(images/conjunto_vazio_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_81 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_81 { 
	width:80px;
	height:72px;
	position:absolute;
	left:149px;
	top:14px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_133 { 
	width:69px;
	height:66px;
	position:absolute;
	left:155px;
	top:17px;
	background-image:url(images/bebida_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_82 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_82 { 
	width:80px;
	height:72px;
	position:absolute;
	left:287px;
	top:14px;
	border-radius:9px;
}
.e59_134 { 
	width:61px;
	height:61px;
	position:absolute;
	left:297px;
	top:20px;
	background-image:url(images/combustivel_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_80 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e59_80 { 
	width:80px;
	height:72px;
	position:absolute;
	left:425px;
	top:14px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_136 { 
	width:64px;
	height:64px;
	position:absolute;
	left:433px;
	top:18px;
	background-image:url(images/diesel__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e59_167 { 
	width:516px;
	height:278px;
	position:absolute;
	left:156px;
	top:432px;
}
.e59_89 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:280px;
	position:absolute;
	left:-1px;
	top:-2px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.oil-fluid-max { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:425px;
	top:205px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.oil-fluid-min { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:424px;
	top:24px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.diesel-fluid-max { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:287px;
	top:205px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.diesel-fluid-min { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:287px;
	top:24px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.water-fluid-max { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:149px;
	top:205px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.water-fluid-min { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:149px;
	top:24px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.non-fluid-max { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:8px;
	top:205px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.non-fluid-min { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:8px;
	top:24px;
	font-family:Jura;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e59_91 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:8px;
	top:71px;
}
.e59_91 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_115 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:425px;
	top:71px;
}
.e59_115 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_92 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:8px;
	top:205px;
}
.e59_92 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_116 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:425px;
	top:205px;
}
.e59_116 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_122 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:287px;
	top:71px;
}
.e59_122 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_123 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:287px;
	top:205px;
}
.e59_123 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_129 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:149px;
	top:71px;
}
.e59_129 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_130 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:84px;
	height:0px;
	position:absolute;
	left:149px;
	top:205px;
}
.e59_130 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e59_113 { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:444px;
	top:244px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_120 { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:306px;
	top:244px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_127 { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:168px;
	top:244px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_110 { 
	color:rgba(255, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:27px;
	top:244px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.oil-fluid-data { 
	color:rgba(242.00000077486038, 131.00000739097595, 0, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:424px;
	top:116px;
	font-family:Jura;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.diesel-fluid-data { 
	color:rgba(242.00000077486038, 131.00000739097595, 0, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:286px;
	top:116px;
	font-family:Jura;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.water-fluid-data { 
	color:rgba(242.00000077486038, 131.00000739097595, 0, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:148px;
	top:116px;
	font-family:Jura;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.non-fluid-data { 
	color:rgba(242.00000077486038, 131.00000739097595, 0, 1);
	width:84px;
	height:47px;
	position:absolute;
	left:13px;
	top:116px;
	font-family:Jura;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e59_112 { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:40px;
	height:28px;
	position:absolute;
	left:447px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_126 { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:40px;
	height:28px;
	position:absolute;
	left:173px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_109 { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:40px;
	height:28px;
	position:absolute;
	left:30px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e59_119 { 
	color:rgba(20.39998434484005, 255, 0, 1);
	width:40px;
	height:28px;
	position:absolute;
	left:309px;
	top:1px;
	font-family:Jura;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e69_18 { 
	border:2px solid rgba(242.00000077486038, 131.00000739097595, 0, 1);
}
.e69_18 { 
	width:90px;
	height:72px;
	position:absolute;
	left:419px;
	top:101px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e69_14 { 
	border:2px solid rgba(242.00000077486038, 131.00000739097595, 0, 1);
}
.e69_14 { 
	width:90px;
	height:72px;
	position:absolute;
	left:8px;
	top:101px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e69_16 { 
	border:2px solid rgba(242.00000077486038, 131.00000739097595, 0, 1);
}
.e69_16 { 
	width:90px;
	height:72px;
	position:absolute;
	left:143px;
	top:101px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e69_17 { 
	border:2px solid rgba(242.24999696016312, 130.81501811742783, 0, 1);
}
.e69_17 { 
	width:90px;
	height:72px;
	position:absolute;
	left:281px;
	top:101px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e59_14 { 
	box-shadow:0px 4px 6.300000190734863px rgba(0, 0, 0, 0.4000000059604645);
	background-color:rgba(43.81907768547535, 43.81907768547535, 43.81907768547535, 1);
	width:517px;
	height:404px;
	position:absolute;
	left:694px;
	top:306px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
